@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ab;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Work Sans', sans-serif;
    --fonte-android: 'Android', sans-serif;
}
@font-face {
    font-family:'Android' ;
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0px;
    margin: 0px;

}
header{
    background-color: var(--cor5);
    background-image: linear-gradient(to top, var(--cor5),var(--cor3));
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
header > h1 {
    
padding-top: 40px;
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 3em;
font-weight: normal;
padding-bottom: 20px;
}
header > p {
    font-size: 1.2em;
    padding-bottom: 30px;
    margin: auto;
    max-width: 500px;
    font-family: var(--fonte-padrao);
}
header > nav {
    text-align: left;
    padding-left: 15px;
}
header > nav > a {
    font-size: 1em;
    margin: 2px;
    box-shadow: 10px;
    color:white;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor4)
    box-shadow: 0px 7px 7px black;
    padding: 8px;
    
}