@charset "UTF-08"

#espaco {
    position: relative;
    width: 100%;
    min-width: 320px;
    min-height: 320px;
  

}
#astronauta {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}